In [2]:
import nltk
# tokenizing in various ways
from nltk.tokenize import word_tokenize
# stopwwords collection
from nltk.corpus import stopwords
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

import pickle
# lemmatize like stem
from nltk.stem import WordNetLemmatizer
 
# To Wrap up the sklearn classifiers to be used in NLP for classifying
from nltk.classify.scikitlearn import SklearnClassifier

from sklearn.metrics import *
from sklearn.naive_bayes import MultinomialNB

import numpy as np
import pandas as pd
import sys
import os

In [4]:
a = sys.stdin.read()
folder ,model_path , train , test = a.split()

In [162]:
train_df =pd.read_csv(folder+"/"+train)
test_df = pd.read_csv(folder+"/"+test)

In [163]:
train_df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [173]:
test_df.head(10)

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964  #white #supremacists â #birdsâ #movie â ...
2  31965         #acne!! #altwaystoheal #healthy #healing!!
3  31966  already? yes, where? no, when? ððð #h...
4  31967      3rd #bihday amazing, #nephew ahmir! missesâ¦
5  31968                                        :) #momtips
6  31969  ð¦ð¿â¨ #smokeyeyes #tired #lonely #sof #g...
7  31970  #finished#tattoo#inked#ink#loveitâ¤ï¸ #â¤ï¸...
8  31971                     young.... :/ #deep #inthefeels
9  31972  #delicious #food #lovelife #capetown #resturan...

In [165]:
train_df=train_df[["label","tweet"]]

In [166]:
train_df.head(3)

   label                                              tweet
0      0   @user when a father is dysfunctional and is s...
1      0  @user @user thanks for #lyft credit i can't us...
2      0                                bihday your majesty

In [167]:
test_df.head(3)

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...

In [168]:
# Removes stopwords and storing only storing alpabets and numbers and imp symbols also lemamtizing to decrease number of features
class Preprocessor:

    def preprocessor(self,doc):
        lm = WordNetLemmatizer()
        preprop = lambda x: ' '.join([lm.lemmatize(word) for word in x.split() if word not in stopwords.words('english') and not(word.isalpha() or word.startswith('@') or word.isnumeric() or (word in ['!','.',','])) ])
        return doc.apply(preprop)

In [150]:
pre_process = Preprocessor()

In [151]:
# train_df["tweet"] = pre_process.preprocessor(train_df["tweet"])

In [152]:
# test_df['tweet']=pre_process.preprocessor(test_df['tweet'])

In [153]:
# train_df.head(2)

   label                                      tweet
0      0                          dysfunction. #run
1      0  #lyft can't pdx. #disapointed #getthanked

In [154]:
# test_df.head(2)

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964  #white #supremacists â #birdsâ #movie â ...

In [155]:
# print(train_df.shape,test_df.shape)

(31962, 2) (17197, 2)

In [156]:
# storing preprocessor object

In [169]:
class by_count_vectorizer:
    
    def check_result(self,feature,classifier):
        if(classifier.predict(feature)==1):
            print('Good')
        else:
            print('Hate')
    
    def classify_demo(self,train_df,test_df):
        pre_process = Preprocessor()
        train_df["tweet"] = pre_process.preprocessor(train_df["tweet"])
        test_df['tweet']=pre_process.preprocessor(test_df['tweet'])
        cv = CountVectorizer()
        X_train,Y_train = train_df["tweet"],train_df["label"]
        X_train = cv.fit_transform(X_train)
        print("to array:\n",X_train.toarray())
        x_cross = test_df["tweet"]   
        mnb = MultinomialNB()
        mnb.fit(X_train,Y_train)
        y_pred = mnb.predict(x_cross)
        print("Accuracy by f1 score ", f1_score(y_cross,y_pred)*100)
        file = open(model_path+'/classifier.pkl','wb')
        pickle.dump(pre_process,file)
        pickle.dump(cv,file)
        pickle.dump(mnb,file)
        file.close()
        try:
            sys.stdout.write(pred)
        except Exception as e:
            print("Cannot return the path beacause ",e)

#         feature = cv.transform(["The movie was pleasant"])
#         self.check_result(feature,mnb)

In [170]:
cv_classifier = by_count_vectorizer()

In [5]:
cv_classifier.classify_demo(train_df,test_df)